.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loginFormInput {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem;
  transition: 0.2s ease-in-out;
}

.loginFormEyeButton {
  cursor: pointer;
  background: none;
  border: none;
}

.loginFormInput input {
  margin: 0.2rem 0 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 85%;
  height: 2rem;
}

.loginFormInput input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.loginFormButton {
  all: unset;
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.loginFormLoginButton {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.loginFormLoginButton:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.loginFormGoogleButton {
  margin-top: 10px;
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffe8f3, #d9f3ff); /* Soft pastel gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
